<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      sizes="192x192"
      href="https://static.wixstatic.com/media/8986ea_55cbe83ac9034e29943e19ffebd242ea%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/8986ea_55cbe83ac9034e29943e19ffebd242ea%7Emv2.png"
      type="image/png"
    />
    <link
      rel="shortcut icon"
      href="https://static.wixstatic.com/media/8986ea_55cbe83ac9034e29943e19ffebd242ea%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/8986ea_55cbe83ac9034e29943e19ffebd242ea%7Emv2.png"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="https://static.wixstatic.com/media/8986ea_55cbe83ac9034e29943e19ffebd242ea%7Emv2.png/v1/fill/w_180%2Ch_180%2Clg_1%2Cusm_0.66_1.00_0.01/8986ea_55cbe83ac9034e29943e19ffebd242ea%7Emv2.png"
      type="image/png"
    />
    <title>Full Farm Subscribe Page</title>
    <meta
      name="description"
      content="Subscribe to Full Farm from Deck Family Farm for local farm food, neighborhood pickup locations, and home delivery options."
    />
    <meta property="og:title" content="Full Farm Subscribe Page" />
    <meta
      property="og:description"
      content="Subscribe to Full Farm from Deck Family Farm for local farm food, neighborhood pickup locations, and home delivery options."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://subscribe.deckfamilyfarm.com/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Full Farm Subscribe Page" />
    <meta
      name="twitter:description"
      content="Subscribe to Full Farm from Deck Family Farm for local farm food, neighborhood pickup locations, and home delivery options."
    />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
